{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container mt-5 mb-5">
<div class="row">

<div class="col-lg-3 border rounded p-3">

<!--<form method="GET" action="/properties">-->

<!--</div>-->

<!--<div class="mb-3">-->
<!--  <h6 class="font-weight-bold">Search by title</h6>-->
<!--  <input type="text" class="form-control p-2" {% if title_contains %} value="{{title_contains}}" {% endif %} id="search_title" name="title_contains" placeholder="Title contains..." >-->
<!--</div>-->

<!--<div class="mb-3">-->
<!--<h6 class="font-weight-bold">Category</h6>-->
<!--<select class="form-select form-control input-group" aria-label="" name="category_id" id="cat_id">-->
<!--  <option selected>Select category</option> -->
<!--  {% for category in categories %}-->
<!--  <option value="{{category.id}}">{{category.name}}</option>-->
<!--  {% endfor %}-->
<!--</select>-->
<!--</div>-->

<!--&lt;!&ndash; <div class="mb-3">-->
<!--<h6 class="font-weight-bold">Location</h6>-->
<!--<select class="form-select form-control input-group" aria-label="" name="location" id="cat_id">-->
<!--  <option selected>Select location</option> -->
<!--  {% for loc in locations %}-->
<!--  <option value="{{loc.id}}">{{loc}}</option>-->
<!--  {% endfor %}-->
<!--</select>-->
<!--</div> &ndash;&gt;-->

<div class="mb-3">
<h3 class="mb-2">Filter Properties</h3>
<div class="progress mb-3" style="height: 1px;">
<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div>
<!-- <div class="row d-flex justify-content-center mt-100">
    <div class="col-md-12"> 
      <select id="choices-multiple-remove-button" placeholder="Search here" name="location" multiple>
          {% for loc in locations %}  
            <option value="{{loc.id}}">{{loc}}</option>
           {% endfor %}
        </select> 
      </div>
</div> -->

<script type="text/javascript">
$(document).ready(function(){

var multipleCancelButton = new Choices('#id_category', {
removeItemButton: true,
maxItemCount:50,
searchResultLimit:50000,
renderChoiceLimit:5
});

var multipleCancelButton = new Choices('#id_beds', {
removeItemButton: true,
maxItemCount:50,
searchResultLimit:50000,
renderChoiceLimit:5
});

var multipleCancelButton = new Choices('#id_baths', {
removeItemButton: true,
maxItemCount:50,
searchResultLimit:50000,
renderChoiceLimit:5
});

var multipleCancelButton = new Choices('#id_location', {
removeItemButton: true,
maxItemCount:50,
searchResultLimit:50000,
renderChoiceLimit:5
});

var multipleCancelButton = new Choices('#id_floors', {
removeItemButton: true,
maxItemCount:50,
searchResultLimit:50000,
renderChoiceLimit:5
});

var multipleCancelButton = new Choices('#id_feature', {
removeItemButton: true,
maxItemCount:50,
searchResultLimit:50000,
renderChoiceLimit:5
});

});
</script>
</div>

<!--<div class="mb-3">-->
<!--    <h6 class="font-weight-bold">Price min (USD)</h6>-->
<!--  <input type="number" min="0" class="form-control p-2" placeholder="0" {% if price_min %} value="{{price_min}}" {% endif %} name="price_min">-->
<!--  <h6 class="mt-3 font-weight-bold">Price max (USD)</h6>-->
<!--  <input type="number" min="0" class="form-control p-2" placeholder="50000000?" {% if price_max %} value="{{price_max}}" {% endif %}  name="price_max">-->
<!--</div>-->

<!--<div class="mb-3">-->
<!--    <a href="/properties" class="btn btn-block bg-light border">Reset Filter</a><br/>-->
<!--    <input type="submit" name="submit" value="Filter" class="btn btn-block bg-primary text-white p-2">-->
<!--</div>-->




</form>
<form method="get" class="filter-sidebar" name="filter_form">
    {{pf.form}}
    <a href="" class="btn btn-block btn-outline-danger font-weight-bold mt-4">Reset</a>
    <input type="submit" class="btn btn-block btn-primary mt-4 font-weight-bold" value="Filter">

</div>
<div class="col-lg-9">
    <div class="row mb-4 mt-2">
        <div class="col-12">
            <h6 class="mb-0">Total listed <span class="text-primary">{{property_count}} properties</span></h6>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-inline">
                <div class="form-group mb-0">
                    <label class="justify-content-start mr-2">Show Grid:</label>
                    <div class="short-by">
                        <select class="form-control basic-select" name="grid" onchange="this.form.submit()">
                            <option {% if grid12 %} selected="" {% endif %} value="12">12</option>
                            <option {% if grid24 %} selected="" {% endif %} value="24">24</option>
                            <option {% if grid48 %} selected="" {% endif %}  value="48">48</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>        
        <div class="col">
            <div class="form-inline pull-right">
                <div class="form-group mb-0">
                    <!-- <label class="justify-content-start mr-2">Sort by :</label>
                    <div class="short-by">
                        <select class="form-control basic-select" name="sort" onchange="this.form.submit()">
                            <option {% if grid12 %} selected="" {% endif %} value="12">12</option>
                            <option {% if grid24 %} selected="" {% endif %} value="24">24</option>
                            <option {% if grid48 %} selected="" {% endif %}  value="48">48</option>
                        </select>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

<div class="row">
  {% if properties %}
   {% for property in properties %}   

    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="propertie-list propertie-grid">
            <div class="propertie-list-image">
                <img class="img-fluid" src="{{ property.featured_image.url }}" alt="">
            </div>
            <div class="propertie-list-details">
                <div class="propertie-list-info">
                    <div class="propertie-list-title">
                        <a href="/property/{{property.slug}}" class="font-weight-bold">{{property.title| truncatechars:50}}</a>
                    </div>
                  <div class="propertie-list-option">
                         <a href="property/{{property.slug}}">{{property.short_description | truncatechars:55}}</a>
                    </div> 
                </div>
                <div class="propertie-list-favourite-time" style="justify-content: space-between;">
{% if user.is_authenticated%}

    {% if property.id in lovedProperties %}
            <a style="color: red" class="propertie-list-favourite order-2 border-0" >
                <i class="far fa-heart"></i>
            </a>
    {% else %}
        <button name="love" value="{{property.id}}" class="propertie-list-favourite order-2 border-0" >
            <i class="far fa-heart"></i>
        </button>
    {% endif %}

{% else %}
    <a class="propertie-list-favourite order-2 border-0" href="/user/login">
            <i class="far fa-heart"></i>
    </a>
{% endif %}
                    <span class="propertie-list-time order-1">
                        <i class="fa fa-usd"></i> {{property.price_us}}
                    </span>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}
    {% else %}
    <div class="col-12 text-center" style="min-height: 300px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <!-- <img src="https://img.icons8.com/color/96/000000/nothing-found.png"/><br/> -->
        <h3>Nothing found</h3>
    </div>
    {% endif %}

    
</div>
 <div class="row">
    <div class="col-12 text-center mt-4 mt-sm-5">
    <ul class="pagination justify-content-center mb-0">
        {% if properties.has_previous %}
        <li class="page-item">
            <button value="{{properties.previous_page_number}}" class="page-link" name="page">Prev</button>
        </li>
        <li class="page-item">
            <input type="submit" value="{{properties.previous_page_number}}" class="page-link" name="page">
        </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ properties.number }}</span>
        </li>

        {% if properties.has_next %}
        <li class="page-item">
            <input type="submit" value="{{properties.next_page_number}}" class="page-link" name="page">
        </li>        
        <li class="page-item">
            <button value="{{properties.next_page_number}}" class="page-link" name="page">Next</button>
        </li>
        {% endif %}

    </ul>
    </div>
</div>
    </form>
</div>
</div>
</div>


{% endblock %}